<!DOCTYPE html>
<html>
<head>
  <title>RecognizeMe CS501</title>
</head>
<body>
  <div align="center">
    <form action="/submit" method="POST" id="webcam_form">
        <input type="hidden" name="video_feed" value="video_feed_default_value" id="video_feed"/>
    </form>
    <video id="player" controls autoplay></video>
      <br/><br/><button id="capture">Login</button>
    <p id="loading" style="display:none;"> Loading! </p>
  </div>
  <script>
    const player = document.getElementById('player');

    const captureButton = document.getElementById('capture');


    const constraints = {
      video: true,
    };

    // Attach the video stream to the video element and autoplay.
    navigator.mediaDevices.getUserMedia(constraints)
      .then((stream) => {
        player.srcObject = stream;

        let mediaRecorder = new MediaRecorder(stream);
        let chunks = [];

        captureButton.addEventListener("click", (ev) => {
          
          mediaRecorder.start();
          document.getElementById("loading").style = "display:block;";

          setTimeout(event => {
            console.log("stopping");
            mediaRecorder.stop();
          }, 3000);

        });

        mediaRecorder.ondataavailable = (ev) => {
          chunks.push(ev.data);
        }

        mediaRecorder.onstop = (ev) => {
          const reader = new FileReader();
          let blob =  new Blob(chunks, {'type': 'video/mp4;'});
          chunks = [];
          reader.readAsDataURL(blob);

          reader.addEventListener('load', () => {
            let data = reader.result;
            document.getElementById('video_feed').value = data;
            document.getElementById('webcam_form').submit();
          }, false);
        }
      });
</script>

</body>
</html>
