<!DOCTYPE html>
<html>
<head>
  <title>RecognizeMe CS501</title>
</head>
<body>
  <div align="center">
    <form action="/submit.html" method="POST" id="webcam_form">
        <input type="hidden" name="video_feed" value="video_feed_default_value" id="video_feed"/>
    </form>
    <video id="player" controls autoplay></video>
      <br/><br/>
      <button id="capture">Login</button>
      <br/><br/>
      <a href="signup">
        <button id="signup">sign-up</button>
      </a>
      <canvas id="canvas" style="display: none;" width=320 height=240></canvas>
      <p style="display: none;" id="loading">loading...</p>
  </div>
  <script>
    const player = document.getElementById('player');
    const canvas = document.getElementById('canvas');
    const context = canvas.getContext('2d');
    const captureButton = document.getElementById('capture');
    const loading = document.getElementById('loading');

    const constraints = {
      video: true,
    };

    captureButton.addEventListener('click', () => {
      // Draw the video frame to the canvas.

      loading.style.display = "block";
      let frames = {};
      let i = 0;
      setInterval(event => {
        context.drawImage(player, 0, 0, canvas.width, canvas.height);
        frames[i] = canvas.toDataURL();
        i++;
        if (i == 90) {
          clearInterval();
          document.getElementById('video_feed').value = JSON.stringify(frames);
          document.getElementById('webcam_form').submit();
        }
      }, 33);
    });

    // Attach the video stream to the video element and autoplay.
    navigator.mediaDevices.getUserMedia(constraints)
      .then((stream) => {
        player.srcObject = stream;
      });
</script>

</body>
</html>